<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Playlistify</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/47a4b5d58f.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" v-cloak>
        <div class="container" >
            <div class="row">
                <div class="col-md-6">
                    <h1 class="ui header">
                        <span class="fa fa-spotify"></span>
                        Playlistify <small>for Spotify</small>
                    </h1>
                </div>
                <div class="col-md-6">
                    <div id="player" class="aplayer"></div>
                </div>
            </div>


            <div class="row" v-if="accessToken != null">
                <div class="col-md-6" v-on:submit.prevent="search()">
                    <form class="" action="index.html" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for music, artists and abums..."  v-model="queryBox">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </form>


                    <br>

                    <ul class="list-group" v-if="tracks.length > 0">
                        <li class="list-group-item" v-for="(track, index) in tracks">
                            <div class="row">
                                <div class="col-md-3">
                                    <a v-bind:href="track.uri">
                                        <img v-bind:src="track.album.images[0].url" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ track.name }}</h5>
                                        <small>{{ track.explicit ? 'EXPLICIT' : '' }}</small>
                                    </div>
                                    <p class="mb-1">{{ track.artists[0].name }}</p>
                                    <small>{{ track.album.name }}</small>
                                    <div class="float-right">
                                        <button type="button" class="btn btn-sm btn-info" v-on:click="playPreview(track)"><span class="fa fa-play"></span></button>&nbsp;
                                        <button type="button" class="btn btn-sm btn-success float-right" v-on:click="add(index)"><span class="fa fa-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="spinner" v-if="isLoading">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>

                    <button type="button" class="btn btn-info btn-block top-spaced-1" v-if="tracks.length > 0 && ! isLoading" v-on:click="search()">Load more...</button>

                </div>
                <div class="col-md-6">
                    <h3 v-if="! isEditingplaylistName">{{ playlistName }} <small>({{ selectedTracks.length }} tracks)</small> <button type="button" class="btn btn-sm btn-info" v-on:click="isEditingplaylistName = true"><span class="fa fa-edit"></span></button></h3>

                    <form v-on:submit.prevent="finishedEditingPlaylistName()">
                        <div class="input-group" v-if="isEditingplaylistName">
                            <input type="text" class="form-control" v-model="playlistName">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><span class="fa fa-check"></span></button>
                            </span>
                        </div>
                    </form>

                    <br>
                    <template v-if="selectedTracks.length > 0">
                        <ul class="list-group">

                            <li class="list-group-item" v-for="(track, index) in selectedTracks" v-bind:key="index">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a v-bind:href="track.uri">
                                            <img v-bind:src="track.album.images[0].url" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ track.name }}</h5>
                                            <small>{{ track.explicit ? 'EXPLICIT' : '' }}</small>
                                        </div>
                                        <p class="mb-1">{{ track.artists[0].name }}</p>
                                        <small>{{ track.album.name }}</small>
                                        <div class="float-right">
                                            <button type="button" class="btn btn-sm btn-info" v-on:click="playPreview(track)"><span class="fa fa-play"></span></button>
                                            <button type="button" class="btn btn-sm btn-danger" v-on:click="remove(index)"><span class="fa fa-minus"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <br>
                        <template>
                            <div class="form-group" v-if="selectedTracks.length > 1">
                                <button type="button" class="btn btn-success btn-block" v-on:click="checkout()" v-bind:disabled="savingOrSaved">{{ savePlaylistButtonLabel }}</button>
                            </div>
                        </template>
                        <br>

                        <div class="list-group" v-if="playlistUrl">
                            <a class="list-group-item list-group-item-action hide-overflow" v-bind:href="playlistUrl" target="_blank">
                                <h3>{{ playlistName }} </h3> <small> by {{ userId }}</small>
                                {{ playlistUrl }}
                            </a>
                        </div>

                    </template>

                    <p v-else="selectedTracks.length > 0">There are currently no tracks in your playlist.</p>
                </div>

            </div>
            <div class="card" v-else="accessToken != null">
                <div class="card-block">
                    <h3 class="card-title">Log In</h3>
                    <p class="card-text">
                        In order to save the playlists to your spotify account,
                        <br>
                        first you need to authorize access to your spotify playlists.
                    </p>
                    <a class="btn btn-success text-center" v-bind:href="authUrl()">Authorize</a>
                </div>
            </div>

            <br>
            <p class="text-center" v-if="this.userId">Logged in as {{ this.userId }}.</p>
            <p class="text-center">This is a <a href="https://vuejs.org" target="_blank">VueJS</a> experiment, made by <a href="https://ivmelo.com" target="_blank">Ivanilson Melo</a>.</p>
        </div>
    </div>

    <!-- Vue JS and friends -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aplayer@1.5.8/dist/APlayer.min.js"></script>
    <script src="env.js"></script>
    <script src="app.js"></script>
</body>
</html>
